<div class="container">
    <div class="row">
        <div class="col">


            <div *ngIf="alumnos.length !== 0; else elseBlock">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Nota</th>
                            <th scope="col">Materia</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let item of alumnos">

                            <td>{{item.nombre}}</td>
                            <td>{{item.apellido}}</td>
                            <td>
                                <div *ngIf="item.nota >= 7 else sino"> <span class="text text-primary">{{item.nota}}</span></div>
                                <ng-template #sino>
                                    <div> <span class="text text-danger">{{item.nota}}</span></div>
                                </ng-template>

                            </td>
                            <td>{{item.materia}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <ng-template #elseBlock>

            <div><span> No se encuentra ningun registro </span></div>
        </ng-template>
    </div>
</div>